<form action="/issuePrescription" method="POST">
    <label>Imię doktora: <input name="name" /></label><br>
    <label>Opis: <input name="description"></label><br>
    <label>Przepisane leki:</label>
    <div id="medicines"></div>

    <button id="add" type="button">Dodaj lek</button>
    <input type="submit" />
</form>

<script>
    function addElement() {
        const hr = document.createElement("hr");
        const name = document.createElement("input");
        const amount = document.createElement("input");
        amount.type = "number";

        const div = document.createElement("div");
        div.append(hr, name, amount)

        document.getElementById("medicines").appendChild(div);
    }

    document.getElementById("add").addEventListener("click", addElement)
</script>